<div style="background: green;"> Vacunados</div>
<div *ngFor="let mascota of vacu">
  <div [ngClass]="{'test1':mascota.edad<3, 'test2':mascota.edad>3}">
    <persona [nombre]="mascota.nombre" [color]="mascota.color" [edad]="mascota.edad" [vacunado]="mascota.vacunado"></persona>
  </div>
</div>

<div style="background: green;">no Vacunados</div>
<div *ngFor="let mascota of novacu">
<div [ngClass]="{'test1':mascota.edad<3, 'test2':mascota.edad>3}">
<button (click)="novacu.pop(mascota);  vacu.push(mascota)" [ngClass]="'test3'">VOTAR</button>
<app-mascota [nombre]="mascota.nombre" [color]="mascota.color" [edad]="mascota.edad" [vacunado]="mascota.vacunado"></app-mascota>
</div>
</div>