<p>  Routing</p>

<div class="btn-group btn-group-toggle">
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox"> Left (pre-checked)
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" > Middle
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox"> Right
  </label>
</div>
<button type="button" class="btn btn-danger">Danger</button>
<button routerLink="home" >HOME</button>
<button routerLink="about">ABOUT</button>
<button routerLink="admin">ADMIN</button>
<button routerLink="user">User</button>
<div style="border: 2px solid green;">
  <router-outlet></router-outlet>
</div>

